# Flutter / Dart
build/
.dart_tool/
.packages
.pub/
pubspec.lock
*.iml
*.class
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
.dart_tool/flutter_build/
ios/Podfile.lock

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Windows build artifacts
windows/flutter/ephemeral/

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.cc
generated_plugin_registrant.h
