google-services.json
android/app/google-services.json
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.apk
.idea/
.vscode/
*.iml
.env
*.keystore
*.jks
key.properties
android/key.properties
